<%- include('partials/header') %>
<h1><%= title %></h1>
<form method="POST" action="">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="form-control"
      placeholder="John"
    />
    <label for="family_name">Family Name:</label>
    <input
      type="text"
      id="family_name"
      name="family_name"
      class="form-control"
      placeholder="Cena"
    />
    <label for="date_of_birth">Date of birth:</label>
    <input
      type="date"
      id="date_of_birth"
      name="date_of_birth"
      class="form-control"
    />
    <label for="date_of_death">Date of death:</label>
    <input
      type="date"
      id="date_of_death"
      name="date_of_death"
      class="form-control"
    />
  </div>
  <br />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
<% if(errors){ %>
<ul>
  <% errors.map(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } - include('partials/footer') %>